@model BudgetApp.Models.Invitation

<div class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	An invitation has been sent to: &nbsp;@Html.DisplayFor(model => model.Email).
</div>

@section scripts {
	
	}